$nav-bg-color:#f8f9fa;
$nav-btn-bg-color:#007bff;
$btn-text-color:white;
$bsn-text-color:black;
$h1-text-color: white;
$input-text-color: white;
$input-bg-color: #007bff;
$nav-bg-color:#f8f9fa;
$article-1-bg-color:#f8f9fa;
$i-color:#007bff;
$p-text-color: grey;
$section-1-4-5-bg-color: white;
$article-bg-color: #f8f9fa;
$footer-bg-color: #f8f9fa;
$ul-text-color: #007bffb8;
$ul-dot-color: black;
